body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    overflow: hidden;
}

.alert-box {
    position: absolute;
    top: -200px;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 90%;
    transition: .3s;
}

.alert-message {
    font-size: 1rem;
    font-weight: 700;
}

.alert-box-show {
    top: 35px;
}

.game-title {
    font-size: 48px;
    margin: 2rem 0;
    text-align: center;
}

.initial-page-hide {
    transition: .3s;
    opacity: 0;
}

.input {
    margin-top: 1rem;
    width: 80%;
}

#btn-start-game:hover {
    opacity: .9;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .1rem;
    flex-direction: column;
}

.game-stage {
    width: 100%;
    display: none;
    transition: .3s;
    overflow: hidden;
}

.game-stage-show {
    opacity: 1;
}

.game-stage>.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    gap: 1rem;
}

.game-stage>.row>.box {
    width: fit-content;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: fit-content;
}

.tic-tac-toe-grid {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.tic-tac-toe-grid:hover {
    cursor: pointer;
}

#a-1,
#a-2,
#a-3 {
    border-top: none;
}

#a-1,
#b-1,
#c-1 {
    border-left: none;
}

#a-3,
#b-3,
#c-3 {
    border-right: none;
}

#c-1,
#c-2,
#c-3 {
    border-bottom: none;
}

.nickname {
    margin: 1rem 0 0 0;
    font-size: 1.4rem;
}

.button {
    margin: 3rem 0;
}

@media screen and (max-width: 576px) {
    body {
        overflow-y: auto;
        height: 100%;
    }

    .game-stage>.row {
        gap: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .box-img {
        order: 1;
        margin-bottom: 1rem;
    }

    .tic-tac-toe-grid {
        order: 0;
        max-height: 85px;
        max-width: 85px;
    }

    .img {
        max-width: 75%;
    }

}